@import "./variables";

body {
    background-color: $lighten;
}

a {
    transition: color .2s ease-in;

    &:hover {
        color: $primary-color;
        text-decoration: none;
    }
}

.Danger {
    color: $red;
}

.PageHeader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    background-color: $primary-color;
    color: $light;
    box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 1px 3px 0 rgba(61, 70, 79, .15);
    z-index: $high-zIndex;
}

.PageHeaderTopBar {
    line-height: $header-height;
}

.PageHeaderTopBarBrand {
    height: $header-height;
    background-color: rgba(0, 0, 0, 0.2);
}

.PageContainer {
    margin-top: $header-height;
}

.PageAside {
    height: calc(100vh - 3.5rem);
    border-right: 1px solid $gray-light;
}

.PageNavigatorList {
    padding-left: 0;
    list-style-type: none;
}

.PageNavigatorItem {
    margin: 0.2rem 0;
}

.PageNavigatorLink {
    color: $gray-dark;

    &:hover {
        color: $gray-dark;

        .PageNavigatorItemIcon {
            color: darken($gray, 15%);
        }
    }

    &.active {
        color: $primary-color;

        .PageNavigatorItemIcon {
            color: $primary-color;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.PageNavigatorItemIcon {
    margin-right: 0.5rem;
    color: $gray;
    transition: color .2s ease-in;
}

.PageMain {
    padding-top: 0.5rem;
    background-color: $light;
}

.CommentItem {
    margin: 1rem 0;
}

.CommentEmail {
    font-size: 12px;
}
