//=== COLORS
/* colors */
$primary-color: #346cb0;
$light: #fff;
$lighten: #f5f5f5;
$gray-light: #ccc;
$gray: #a9acb0;
$gray-dark: #28313b;
$dark: #000;
$red: #dc3545;

//=== SIZE
$header-height: 3.5rem;

//=== Z-INDEX
$low-zIndex: 9;
$mid-zIndex: 99;
$high-zIndex: 999;
$super-high-zIndex: 9999;
